<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ("../partial/assetsCSS") %>
    <title>Tableau de bord</title>
</head>

<body>
    <%- include ("../partial/navbar") %>
    DASHBOARD
    <form action="/admin/logout" class="d-none" id="logout-form" method="post">
    </form>
    <table>
        <th>nom d´utilisteur</th>
        <th>IMEI</th>
        <th>Information</th>
        <th>Autorisé</th>
        <% data.forEach(device => { %>
        <tr>
            <td> <%= device.utilisateur %> </td>
            <td> <%= device.deviceid %> </td>
            <td> <%= device.information %> </td>
            <td> <%= device.authorized %> </td>
        </tr>
        <% }) %>
    </table>
    <%- include ("../partial/assetsJS") %>
</body>

</html>